footer {
	background-color: #2C2C2E;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	border-top: 2px solid lightgrey;
}

footer a {
	background-color: #2C2C2E;
	color: #CCC;
	transition: color 0.3s ease;
	margin-right: 15px;
	text-decoration: none;
	font-weight: bold;
}

footer a:hover {
	color: #FFF;
}
footer a:last-child {
	margin-right: 0;
}
