/* Main */
body {
    background-color: grey;
}

.message-div {
    color: #E0E0E0;
}

.message-div.success {
    background-color: #4CAF50;
}

.message-div.error {
    background-color: #F44336;
}

#backButton-main {
	background-color: #7F4600;
	color: #B0BEC5;
}

#backButton-main:hover {
	background-color: #546E7A;
}

.title-box {
	background-color: #7F4600;
	color: #CFD8DC;
}

.user-info {
    background-color: #263238;
    color: #CFD8DC;
}

.username-box {
    background-color: #37474F;
}

#logoutButton {
    background-color: #DD2C00;
    color: #FFCCBC;
}

#logoutButton:hover {
    background-color: #BF360C;
}

.thumbs-up .fas.fa-thumbs-up:hover, .like-active {
    color: #81C784;
}

.thumbs-up .fas.fa-thumbs-down:hover, .dislike-active {
    color: #E57373;
}

.thumbs-up .fas.fa-thumbs-up, .thumbs-up .fas.fa-thumbs-down {
    color: #B0BEC5;
}

/* header */
header {
	background-color: #4e8ead;
	color: #CCC;
}

.nav-button {
	background-color: #7F4600;
	border: none;
	border-radius: 15px;
	color: #E0E0E0;
}

.nav-button:hover {
	background-color: #686868;
}

.header-content::after {
	background-color: #777;
}
/* footer */
footer {
	background-color: #4e8ead;
}

footer a {
	background-color: #4e8ead;
	color: #333;
}

/* Kursübersicht */
.kurs {
    background-color: #37474F;
    color: #E0E0E0;
}

.kurs:hover {
    background-color: #3A3A3A;
    color: #FFFFFF;
}

.kurs p {
    color: #A9D1F7;
}

.kurs:hover p {
    color: #A9D1F7;
}

/* Kurs */
.grid-item {
	background-color: #37474F;
}

.grid-item:hover {
	background-color: #292929;
}

.grid-item i {
	color: #CFD8DC;
}

.grid-item:hover i {
	color: #ADD8E6;
}

.grid-item p {
	color: #CFD8DC;
}

.grid-item:hover p {
	color: #CCC;
}

/* einzelspieler */
.info-text {
	color: #BBBBBB;
}

#antworten .korrekt {
    background-color: darkgreen;
	color: #E8F5E9;
}

#antworten .falsch {
    background-color: #D32F2F;
	color: #FFEBEE;
}

.korrekt {
    background-color: darkgreen;
}

.falsch {
    background-color: #D32F2F;
}

#zuWenigFragen {
    background-color: #b71c1c;
    color: #FFCDD2
}

/* einzelspieler-lernmodus */
#quiz-container {
	background-color: #2C2C2E;
}

#antworten li {
	background-color: #424245;
}

#antworten li:hover {
	background-color: #535357;
}

#statistik {
	background-color: #2C2C2E;
}

#statistik > div {
	color: #CCC;
}

#korrekt-box {
	background-color: #388E3C;
}

#falsch-box {
	background-color: #D32F2F;
}

#uebersprungen-box {
	background-color: #39759F;
}

#naechsteFrage, #skip {
	background-color: #39759F;
	color: #FFF;
}


.quiz_quizshow {
    padding: 20px;
    background-color: #C8E6C9;
    border-radius: 10px;
    border: 3px #4e8ead solid;
}

.points-area {
    flex: 1;
    padding: 20px;
    background-color: #212121;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#frage-text {
    color: white;
}

ul#antworten li {
    color: white;
}

/* einzelspieler-quizshow */
.quiz_quizshow{
    background-color: #263238;
}

.points-item.selected {
    background-color: #DAA520;
}

.quiz_quizshow .joker {
	transition: background-color 0.3s ease;
	color: #263238;
}

.quiz_quizshow .joker:hover {
	background-color: #2E7D32;
}

.tooltip-content {
	background-color: #333;
	color: #FFF;
}

.answer-list li.correct-answer {
    background-color: darkgreen;
    color: #E8F5E9;
}

.question-text p {
    background-color: #2C2C2E;
    color: #CCC;
}

.answer-list li {
    background-color: #424245;
    color: #CCC;
}

#info_quizshow {
  background-color: #388E3C;
  color: #E8F5E9;
}

#tryAgainButton, #playLaterButton {
    background-color: #424245;
    color: #79C27B;
    transition: background-color 0.3s, color 0.3s;
}

#tryAgainButton:hover, #playLaterButton:hover {
    background-color: #388E3C;
    color: #FFF;
}

#counter {
    background-color: #39759F;
    color: #FFF;
}

/* faq */
.faq-box {
	color: #E0E0E0;
}

.faq-category-title {
	background-color: #424245;
	color: #CCC;
}

.faq-question-title {
	background-color: #39759F;
	color: #FFF;
}

.faq-answer {
	background-color: #556962;
	color: #E0E0E0;
}

/* fragen */
.option-box {
	background-color: #263238;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon-container, .icon-container-q {
	color: #BBB;
}


.option-text, .no-questions, .modal-content, .modal-content-delete, #cancelDelete-delete {
	color: #DDD;
}

.option-box:hover {
	background-color: #444;
}

.frage-div, .frage-div:hover, .no-questions, .question-section, .answers-section, .difficulty-section, .difficulty-btn, .difficulty-btn:hover, .modal-content, .modal-content-delete {
	background-color: #263238;
	color: white;
}

.icon-container-q:hover {
	color: #EEE;
}

.modal {
    background-color: rgba(0,0,0,0.7);
}

.close, .close:hover, .close:focus {
    color: #999;
}

.light {
    background-color: #4CAF50;
}

.medium {
    background-color: #FFC107;
}

.hard {
    background-color: #F44336;
}

.button_modal, #confirmDelete-delete {
    background-color: #556272;
    color: #FFF;
}

.button_modal:hover {
    background-color: #6C7A89;
}

.modal-delete {
  background-color: rgba(0,0,0,0.7);
}

#cancelDelete-delete {
  background-color: #616161;
}

.modal-header-delete {
  color: #E57373;
}

/* link-tree */
.link-container {
    background-color: #2C2C2E;
}

.link-item {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-item i {
    color: #81D4FA;
}

.link-details p, .link-details p i {
    color: #DDD;
}

.link-item:hover {
    background-color: #327D9C;
    color: white;
}

.link-item:hover i,
.link-item:hover p,
.link-item:hover p i {
  color: white;
}

/* Profil */
.profile-form {
	background-color: #263238;
}

.edit, .edit-text {
    color: #BBB;
}

.save-icon, .save-text {
    color: #FF5555;
}

.change-profile-picture, #changeProfilePictureBtn {
    color: white;
    background-color: #263238;
}

.input-group input:disabled{
    color: white;
}

.input-group i {
    color: #CFD8DC;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #222;
}

.profile-picture-choices img:hover {
  border-color: #555;
}

.close-modal-button, #closeModalButton {
  color: #AAA;
}

.close-modal-button:hover, #closeModalButton {
  background-color: #DD5555;
}

.modal button:hover {
  background-color: #4e8ead;
}

.dark-mode-toggle-container {
    background-color: #444;
    color: white;
}

.slider {
    background-color: #777;
}

.slider:before {
    background-color: #AAA;
}

.dark-mode-toggle:checked + .slider {
    background-color: #357a8f;
}

/* spiel_auswahl */
.modus-box {
	background-color: #37474F;
}

.icon-container i{
	color: darkgrey;
}

.modus-box:hover {
    background-color: #292929;
}

.modus-text, .mehrspieler-counter {
	color: #CCC;
}

.mehrspieler-text-box {
	background-color: #333;
	color: white;
}

.mehrspieler-info {
	background-color: #37474F;
	color: white
}

.mehrspieler-button {
	background-color: #555;
	color: white;
}

.mehrspieler-button:enabled {
	background-color: #28a745;
}

.mehrspieler-button:enabled:hover {
	background-color: #218838;
}

.mehrspieler-counter {
	background-color: #3A3A3C;
	color: #4e8ead;
}

/* team */
.team-member {
	background-color: #37474F;
}

.team-member h3 {
	color: #CFD8DC;
}

.team-member p.rolle {
	color: #81D4FA;
}

.title-container h1 {
	font-size: 3em;
	margin: 0;
	color: orange;
}

/* header-unlog */
.login-header {
	background-color: #2C2C2E;
}

.title-container h1 {
	color: #7F4600;
}

.title-container p {
	color: #CFD8DC;
}

.header-nav a {
	color: white;
}

/* login - */
.tab.active::after {
	background-color: #FFA500;
}

.input-group {
	background-color: #263238;
}

.input-group i {
	color: #CCC;
}

.input-group input {
	background-color: #555;
	border-bottom: 1px solid #CCC;
	color: white;
}

.info-textarea {
	background-color: #555;
	color: white;
}


.input-group select {
	background-color: #444;
	color: #CCC;
}

.input-group select option {
	background-color: #555;
	color: #EEE;
}

.input-group select option:hover {
	background-color: #666;
}

.input-group::after {
	color: #CCC;
}

button {
	background-color: #FFA500;
	color: #FFF;
}

.registration-error-message, .login-error-message, .error-message {
    color: #FF5555;
}

.login-try-message {
    color: #4CAF50;
}
