#modus_lernmodus {
	margin-bottom: 40px;
}
	
#quiz-container {
	background-color: #F3F3F7;
	padding: 20px;
	border-radius: 5px;
	width: 40%;
	margin: auto;
}

#frage-text {
	font-size: 1.5em;
	margin-bottom: 20px;
}

#antworten {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#antworten li {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#antworten li:hover {
	background-color: #f0f0f0;
}

#statistik {
	background-color: #F3F3F7;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
	width: 30%;
	margin: auto;
	padding: 20px;
	margin-bottom: 20px;
}

#statistik > div {
	text-align: center;
	padding: 10px; 
	border-radius: 5px; 
	font-size: 14px;
	color: white;
	width: 80px;
}

#korrekt-box {
	background-color: #4CAF50; 
}

#falsch-box {
	background-color: #f44336; 
}

#uebersprungen-box {
	background-color: #4e8ead; 
}

#statistik p + p {
	font-size: 24px;
}


#naechsteFrage {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
	margin-top: 10px;
	display: none;
}


#skip {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
	margin-top: 10px;
}

@media (max-width: 768px) {
    #statistik {
        width: 70%;
    }
    #quiz-container {
        width: 90%;
    }
}
