footer {
	background-color: #F3F3F7;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	border-top: 2px solid lightgrey;
}

footer a {
	background-color: #F3F3F7;
	margin-right: 15px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

footer a:last-child {
	margin-right: 0;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    footer a {
        margin: 10px 0;
        font-size: 1.1em;
    }
}