.login-header {
	background-color: #F3F3F7;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
	padding-left: 100px;
	padding-right: 100px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.title-container h1 {
	font-size: 3em;
	margin: 0;
	color: orange;
}

.title-container h2 {
	font-size: 1.5em;
	margin: 5px 0;
}

.title-container p {
	margin: 10px 0;
	color: #666;
	width: 50%;
	font-size: 1.2em;
	line-height: 1.5;
}

.header-nav {
	display: flex;
	flex-direction: column; 
	align-items: flex-end; 
}

.header-nav a {
	text-decoration: none;
	margin: 0 0 5px 0; 
	color: #333;
	font-weight: bold;
	white-space: nowrap; 
}

.header-nav a:hover {
	text-decoration: underline;
}

