header {
	background-color: #F3F3F7; 
	color: black;
	padding: 10px 20px;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid lightgrey;
}

.header-logo {
	max-height: 120px; 
	margin-left: 50px; 
}


.header-nav {
	display: flex;
	margin-left: auto;
}

.nav-button {
	background-color: #f0ad4e;
	border: none;
	border-radius: 15px; 
	color: #333; 
	padding: 10px 20px; 
	margin-left: 10px; 
	cursor: pointer; 
	font-weight: bold; 
	text-transform: uppercase;
	text-decoration: none; 
	display: inline-block; 
	display: flex; 
	align-items: center; 
}

.nav-button i {
  margin-right: 5px;
}

.nav-button:hover {
	background-color: #ec971f;
	transition: background-color 0.3s ease, transform 0.2s ease;
	transform: scale(1.05);
}


.decorative-bar{
	height: 4px; 
}

.header-content::after {
	display: block;
	height: 50px;
	width: 2px;
	background-color: #666; 
	margin: 0 20px;
}


@media (max-width: 768px) {
	.header-content {
		flex-direction: column;
	}

    .header-logo {
        margin-left: auto;
    }

	.header-title {
		margin-bottom: 10px; 
	}

	.header-nav {
		flex-direction: column;
		align-items: center;
		margin: auto;
	}

	.nav-button {
		margin: 5px 0; 
	}

	.header-content::after {
		display: none;
	}
} 