.container {
	text-align: center;
	max-width: 768px;
	margin: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
}

.grid-item {
	background-color: #F3F3F7;
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding: 20px;
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	height: 150px;
	transition: all 0.3s ease;
}

.grid-item:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-color: #e0e0e0;
}

.grid-item i {
	font-size: 3em; 
	transition: all 0.3s ease;
    margin: auto;
}

.grid-item p {
	margin: 0;
	text-align: center;
	font-size: 2em; 
	transition: all 0.3s ease;
}

.grid-item:hover i {
	font-size: 5em;
	font-size: 5em;
	color: #4e8ead;
}

.grid-item:hover p {
	transform: translateY(5px);
	font-size: 1em;
	color: grey;
}

.grid-item svg {
    width: 3em;
    height: 3em;
    transition: all 2s ease;
    display: block;
    margin: auto;
}

.grid-item:hover svg {
    width: 5em;
    height: 5em;
}

.circle-bg {
   stroke: black;
}

.circle {
    stroke-dashoffset: 339.292;
    stroke-dasharray: 339.292;
    stroke: #ff0000;
}

.grid-item:hover .circle {
    stroke-dashoffset: 0;
    stroke: #0000ff;
}

.grid-item:hover .circle-bg {
    stroke-dashoffset: 0;
    stroke: red;
}

.grid-item .circle {
    transition: stroke-dashoffset 2s ease, stroke 2s ease;
}

#prozentWert {
    opacity: 0;
    transition: opacity 2s ease;
}

#prozentWert.visible {
    opacity: 1;
}


@media (max-width: 767px) {
	.container {
		max-width: 768px;
	}

    .grid-container {
        grid-template-columns: 1fr;
        margin: auto;
        width: 90%;
    }
}