.kurs {
	background-color: #F3F3F7;
	color: #333;
	border: 1px solid lightgrey;
	border-radius: 15px;
	padding: 10px;
	width: 50%;
	margin: auto;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 20px;
	transition: transform 0.3s ease, background-color 0.3s ease;
	overflow: hidden;
}

.kurs:hover {
	background-color: lightgrey;
	border: 1px solid none;
	transform: scale(1.05);
	color: white;
}

.kurs img {
	border-radius: 40%;
	margin-right: 10px;
	max-height: 100px;
	transition: transform 0.3s ease;
}


.kurs:hover img {
	transform: scale(1.4);
	border-radius: 5%;
	z-index: 1;
}


.kurs h3, .kurs p {
	margin: 0;
}

.kurs h3 {
	font-size: 1.2em;
	z-index: 2;
}

.kurs:hover h3 {
	font-size: 2.2em;
	z-index: 2;
	margin-left: 40px;
}

.kurs p {
	color: #4e8ead;
	font-size: 0.9em;
	z-index: 2;
}

.kurs:hover p {
	color: #4e8ead;
	font-size: 0.9em;
	z-index: 2;
	margin-left: 40px;
}

.kurs > div {
	display: flex;
	flex-direction: column;
}

.kurs-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.kurs-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

@media (max-width: 768px) {
	.kurs {
		width: 90%;
	}
    
    .kurs h3 {
        font-size: 0.9em;
        z-index: 2;
    }
}