.link-container {
    display: flex;
    flex-direction: column;
    width: 770px;
    margin: 50px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #F3F3F7;
}

.link-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-bottom: 1px solid #4e8ead;
}

.link-item:last-child {
    border-bottom: none;
}

.link-item i {
    font-size: 30px;
    color: #4e8ead;
}

.link-item .icon-main {
    font-size: 60px;
    transition: transform 2s ease;
    margin: auto;
}

.link-main {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-item:hover .icon-main {
    transform: rotate(360deg);
}

.link-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link-details p {
    margin: 4px 0;
    font-size: 16px;
    color: #333;
}

.link-details p i {
    margin-right: 10px;
    color: #999;
}

.link-item:hover {
    background-color: #4e8ead;
    transform: translateY(-3px);
    color: white;
    cursor: pointer;
}


.link-item:hover i,
.link-item:hover p,
.link-item:hover p i {
  color: white;
}

.link-item:hover .link-details p i {
  animation: iconJump 0.5s ease;
}

@keyframes iconJump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

@media (max-width: 768px) {
    .link-container {
        width: 90%;
        margin: 20px auto;
    }

    .link-item {
        flex-direction: column;
        padding: 20px;
    }

    .link-main {
        margin-bottom: 10px;
    }

    .link-details {
        align-items: center;
        text-align: center;
    }

    .link-details p {
        font-size: 14px;
    }
}

