.container {
	text-align: center;
	max-width: 768px;
	margin: auto;
}

.modus-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: nowrap; 
	margin-bottom: 30px;
}

.modus-box {
	background-color: #F3F3F7;
	border: 1px solid lightgrey;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	width: 500px;
	min-height: 200px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.modus-box:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.modus-box:hover .modus-text {
    font-size: 0.9em;
}

.icon-container {
	background-color: #ffffff;
	border-radius: 50%; 
	width: 100px; 
	height: 100px; 
	margin: auto; 
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-bottom: 10px; 
}

.modus-text {
	font-size: 2em;
	color: #333; 
}

.fas.fa-book, .fas.fa-trophy {
	font-size: 2em;
}

.mehrspieler-container {
	text-align: center;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	max-width: 768px;
}

.mehrspieler-text-box {
	background-color: #F3F3F7;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px; 
}

.mehrspieler-info {
	font-size: 1.05em;
	background-color: #fbfbfb;
	border: 1px dashed #f0ad4e;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	opacity: 1;
}

.mehrspieler-text {
	font-size: 1.5em;
}

.mehrspieler-button {
	background-color: grey; 
	color: white;
	padding: 30px 60px; 
	border: none;
	border-radius: 8px; 
	font-size: 2em;
	cursor: not-allowed; 
	margin-bottom: 20px;
	opacity: 0.7;
	transition: all 0.3s ease;
}

.mehrspieler-button:enabled {
	background-color: #28a745;
	cursor: pointer; 
	opacity: 1; 
}

.mehrspieler-button:enabled:hover {
	background-color: #218838;
}

.mehrspieler-counter {
	font-family: 'Arial', sans-serif;
	font-size: 2.5em; 
	color: #4e8ead; 
	font-weight: bold; 
	background-color: #f8f8f8; 
	padding: 15px; 
	border-radius: 10px;
	text-align: center;
}

#teilnehmer-liste {
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    font-family: 'Arial', sans-serif;
    margin-right: 20px;
}

#teilnehmer-liste p {
    color: #333;
    padding: 10px 15px;
    border-bottom: 1px solid #4CAF50;
    margin: 0;
    text-align: left;
    transition: background-color 0.3s ease;
}

#teilnehmer-liste p:last-child {
    border-bottom: none;
}

#teilnehmer-liste p:nth-child(odd) {
    background-color: #E8F5E9;
}

#teilnehmer-liste p:nth-child(even) {
    background-color: #F1F8E9;
}

#teilnehmer-liste p:hover {
    background-color: #C8E6C9;
}

.quizshow-container-live {
	display: flex;
	padding: 20px;
	align-items: flex-start;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}

@media (max-width: 767px) {
    .modus-container {
        flex-wrap: wrap;
    }

    .modus-box {
        width: 80%;
        max-width: 500px;
        margin: auto;
    }
}
