.info-text {
	font-size: 16px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

#antworten .korrekt {
    background-color: #4CAF50;
	color: white;
}

#antworten .falsch {
    background-color: #f44336; 
	color: white;
}

#antworten li.ausgewaehlt {
    border: 3px solid #333; 
}

.korrekt {
    background-color: #4CAF50; 
}

 .falsch{
    background-color: #f44336; 
}

#zuWenigFragen {
    background-color: #ffcccc;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#zuWenigFragen p {
    margin: 0;
    font-size: 1.2em;
}



