.quizshow-container {
	display: flex;
	padding: 20px;
	align-items: flex-start;
	justify-content: space-between;
	width: 60%;
	margin: auto;
}

.question-area {
	flex: 3; 
	margin-right: 20px;
}

.quiz_quizshow {
    padding: 20px;
    background-color: #C8E6C9;
    border-radius: 10px;
    border: 3px #4e8ead solid;
}

.points-area {
    flex: 1;
    padding: 20px;
    background-color: #212121; 
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-item {
    background-color: #F3F3F7;
    color: black;
    padding: 10px 20px;
    border-radius: 20px; 
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 80%; 
}

.points-item:hover {
    transform: scale(1.1); 
}

.points-item.selected {
    border: 2px solid #FFEB3B; 
    background-color: #FFC107; 
	font-weight: bold;
}

.jokers {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	margin: 10px auto;
}

.quiz_quizshow .joker {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #4e8ead;
	margin: 5px;
}

.quiz_quizshow .joker:hover {
	background-color: #388E3C;
}

.quiz_quizshow .joker i, .quiz_quizshow .joker span {
	margin-right: 5px;
}

.quiz_quizshow .joker .tooltip-icon {
	cursor: help;
}

.tooltip-content {
    visibility: hidden;
	display: none;
	position: absolute;
	background-color: black;
	color: white;
	padding: 5px;
	border-radius: 5px;
	left: 105%;
	top: 50%;
	transform: translateX(10px) translateY(-50%);
	white-space: nowrap;
	transition: opacity 0.3s ease, visibility 0s linear 0.3s;
	border: 2px solid black;
	border-radius: 20px;
}

.tooltip-icon:hover + .tooltip-content {
	display: block;
}

.joker:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.answer-list li.correct-answer {
    background-color: #4CAF50;
    color: white;
}

.question-text p {
    background-color: #FFFFFF; 
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
	font-weight: bold;
}

.answer-list {
    list-style: none;
    padding: 0;
}

.answer-list li {
    background-color: #F3F3F7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#info_quizshow {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  position: relative;
  margin-top: 20px;
}

#info_quizshow .icon {
  font-size: 48px;
  margin-bottom: 20px;
}

#tryAgainButton, #playLaterButton {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#tryAgainButton:hover, #playLaterButton:hover {
    background-color: #4CAF50;
    color: white;
}

#counter {
    display: none;
    background-color: #4e8ead;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    font-weight: bold;
    width: 10px;
}

#confetti-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.7;
  will-change: transform;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.confetti {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}


@media (max-width: 768px) {
    .quizshow-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 0px;
    }
    .question-area{
        margin: auto;
    }
    .question-area, .points-area {
        width: 95%;
        margin-bottom: 20px;
    }

    .jokers {
        flex-wrap: wrap;
        justify-content: center;
        width: 20px;
    }

    .quiz_quizshow .joker {
        flex: 0 48%;
        margin: 5px;
    }
}


