.faq-container {
	margin: 20px;
}

.faq-box {
	color: #fff; 
	text-align: center; 
	padding: 20px; 
	margin: 50px auto;
	max-width: 1000px; 
	border-radius: 15px;
}


.faq-category-title {
	background-color: #F3F3F7;
	color: black;
	padding: 10px 20px;
	cursor: pointer;
	position: relative; 
	font-size: 1.5em; 
	margin-bottom: 10px; 
	border: 2px solid black;
	border-radius: 40px; 
}


.faq-category-title::before {
	content: '\25BC'; 
	font-size: 1em;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}


.faq-category-title.active::before {
	content: '\25B2';
}

.faq-question-title {
	background-color: #4e8ead; 
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	position: relative; 
	font-size: 1.2em; 
	margin: auto;
	margin-bottom: 5px; 
	border-radius: 15px;
	width: 80%;
}


.faq-question-title::before {
	content: '\25BC'; 
	font-size: 0.8em;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	}

.faq-question-title.active::before {
	content: '\25B2'; 
}


.faq-answer {
	display: none; 
	background-color: #6D9773; 
	padding: 10px 30px;
	margin: auto;
	margin-bottom: 5px; 
	text-align: left;
	border-radius: 15px;
	color: white;
	width: 60%;
}


.faq-answer.active {
	display: block;		
}
