.container {
	text-align: center;
	max-width: 768px;
	margin: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px; 
	justify-content: center;
}

.grid-item {
	background-color: #F3F3F7;
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding: 20px;
	display: flex;
	flex-direction: column; 
	justify-content: center; 
	align-items: center;
	height: 150px; 
	transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
	transform: scale(1.05);
	background-color: #e0e0e0;
}

.grid-item p {
	margin: 5px 0; 
	text-align: center;
	color: #333; 
}

.grid-item .number {
	font-size: 3em;
	font-weight: bold; 
	color: #4e8ead; 
}

@media (max-width: 600px) {
	.container {
		max-width: 768px;
	}

    .grid-container {
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }
}
