.options-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.option-box {
	background-color: #F3F3F7;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 20px;
	width: 600px; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: transform 0.3s ease, background-color 0.3s ease;
	min-height: 100px;
}

.icon-container {
	color: #888; 
	font-size: 3rem; 
	margin-bottom: 10px;
}

.option-text {
	font-size: 1.5rem; 
	color: #333;
}

.option-box:hover {
	cursor: pointer;
	background-color: #e6e6e6;
	transform: scale(1.05);
	height: 150px;
}

.option-box:hover .option-text {
    font-size: 1em;
}

.option-box:hover .icon-container {
    font-size: 4em;
}

.list-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 600px; 
}

.frage-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f0f0f0;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

.frage-div:hover {
	background-color: #e0e0e0;
}

.icons-right {
	display: flex;
	align-items: center;
	gap: 10px;
}

.icon-container-q {
	color: #333;
	cursor: pointer;
	font-size: 2rem;
}

.icon-container-q:hover {
	color: #555;
}

.no-questions {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    color: #333;
	font-size: 1.3em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
	margin-bottom: 20px;
}

.difficulty-section--answers-section-container {
    display: flex;
    gap: 10px;
}

.question-section {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    width: 90%;
}

.answers-section {
    flex: 0 0 65%;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    margin-right: 20px;
}

.difficulty-section {
    flex: 0 0 25%;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input[type='text'],
.input-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.input-group textarea {
	font-family: 'Arial', sans-serif; 
    height: 50px;
    width: 70%;
}

.difficulty-btn {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e7e7e7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.difficulty-btn:hover {
    background-color: #d4d4d4;
}

.selected {
    border: 2px solid blue;
}

.light {
    background-color: #8BC34A; 
}

.medium {
    background-color: #FFEB3B; 
}

.hard {
    background-color: #FFCDD2; 
}

.button_modal  {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	display: none;
}

.button_modal:hover  {
    background-color: #4cae4c;
}


.modal-delete {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content-delete {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 30%;
  position: relative;
}

.modal-content-delete p {
  font-size: 16px;
  margin: 20px 0;
}

#confirmDelete-delete, #cancelDelete-delete {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
}

#confirmDelete-delete {
  background-color: #f44336;
  color: white;
}

#cancelDelete-delete {
  background-color: #757575;
  color: white;
}

#cancelDelete-delete:hover, #confirmDelete-delete:hover {
   cursor: pointer;
}

.modal-header-delete {
  font-size: 20px;
  color: #f44336;
  display: flex;
  align-items: center;
}

.modal-header-delete i {
  margin-right: 10px;
}

@media (max-width: 600px) {
    .modal-body {
        display: flex !important;
        flex-direction: column !important;
    }

    .modal-body .answers-section {
        order: 1 !important;
    }

    .modal-body .difficulty-section {
        order: 2 !important;
    }

    .modal-content {
        margin: 5% auto;
        width: 90%;
        padding: 10px;
    }

    .option-box,
    .list-container {
        width: 100%;
    }

    .option-text,
    .frage-div,
    .mehrspieler-text,
    .mehrspieler-info,
    .input-group input[type='text'],
    .input-group textarea {
        font-size: 1em;
    }

    .icon-container,
    .icon-container-q {
        font-size: 2.5rem;
    }

    .modal-body {
        flex-direction: column;
    }

    .difficulty-section,
    .answers-section {
        width: 90%;
        margin-bottom: 20px;
    }

    .difficulty-btn,
    .button_modal {
        width: 90%;
    }

    .difficulty-section--answers-section-container {
        flex-direction: column;
    }

    .option-box {
        width: 80%;
    }

    .frage-div {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }

    .modal-content-delete {
        width: 80%;
    }
}
