.login-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
	padding: 100px;
}

.logo-container img {
	max-width: 90%;
	height: auto;
}

.form-container {
	width: 50%;
}

.tab-view {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.tab {
	font-size: 30px;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
	transition: font-weight 0.3s ease;
	position: relative;
}

.tab.active {
	font-weight: bold;
}

.tab.active::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: orange;
	position: absolute;
	bottom: -7px; 
	left: 0;
}

.form-content {
	display: none;
	}

.form-content.active {
	display: block;
} 

input {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

.input-group {
	display: flex;
	align-items: center;
	background-color: #F3F3F3;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 20px;
}

.input-group i {
	margin-right: 10px;
	color: #333;
}

.input-group input {
	border: none;
	outline: none;
	padding: 10px;
	width: 80%; 
	background-color: transparent; 
}

.input-group select {
	border: none;
	outline: none;
	padding: 10px;
	width: 80%; 
	background-color: #F3F3F3; 
	border-radius: 20px;
	margin: 10px 0; 
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}


.input-group select option {
	background-color: #F3F3F3;
	padding: 50px; 
	border-radius: 5px; 
	}

.input-group select option:hover {
	background-color: #e0e0e0;
}


.input-group i {
	margin-right: 10px;
	color: #333;
}


.input-group select::-ms-expand {
	display: none; 
}

.input-group::after {
	position: absolute;
	top: 50%;
	right: 15px;
	pointer-events: none;
	color: #333;
	transform: translateY(-50%);
}

button {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	background-color: orange;
	color: white;
	margin-top: 20px;
}

.registration-error-message, .login-error-message, .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.login-try-message {
    color: green;
    font-size: 0.8em;
    margin-top: 5px;
}


@media (max-width: 768px) {
	.form-container {
		width: 80%;
	}

	.input-group input {
		width: 100%;
	}

	.logo-container img {
        display: none;
    }

}