.profile-form {
	background-color: #F3F3F7; 
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	margin: auto;
	margin-bottom: 30px;
}

.profile-picture {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto 20px auto;
	border-radius: 50%; 
}

.input-group {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.input-group i {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 20px;
}

.input-group input {
	flex-grow: 1; 
	padding: 15px; 
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 15px;
}

.edit {
    color: black;
}

.save-icon, .save-text {
    color: red;
}

.edit-text {
    color: green;
}

.change-profile-picture {
    cursor: pointer;
    color: #4e8ead;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 40px;
    border-radius: 8px;
    width: 25%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-picture-choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-picture-choices img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.profile-picture-choices img:hover {
    transform: scale(1.1);
    border-color: #ddd;
}

.profile-picture-choices img.selected {
    border: 3px solid #4e8ead;
    transform: scale(1.15);
}

.close-modal-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #aaa;
}

.close-modal-button:hover {
    color: #777;
}

.modal button {
    background-color: #4e8ead;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: #357a8f;
}


#changeProfilePictureBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4e8ead;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#closeModalButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.switch-cookie {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-cookie input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-cookie {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider-cookie:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider-cookie {
    background-color: #2196F3;
}

input:focus + .slider-cookie {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-cookie:before {
    transform: translateX(26px);
}

.cookie-consent-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 20px;
}

.consent-text {
    font-size: 16px;
}


@media (max-width: 768px) {
    .modal-content {
      width: 50%;
    }
}
