body {
	margin: 0;
	font-family: 'Arial', sans-serif; 
}

.message-div {
    position: fixed;
    bottom: 30px;  
    right: 30px; 
    padding: 10px;
    border-radius: 5px;
    color: white;
    z-index: 1000; 
    animation: fadeOut 4s forwards; 
}

.message-div.success {
    background-color: green;
}

.message-div.error {
    background-color: red;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}


.main-body-con {
	min-height: 95vh;
}	

.header-container {
	display: flex;
	align-items: stretch; 
	justify-content: center; 
	gap: 10px;
	margin: 50px auto;
	max-width: 770px;  /*Gibt die Breite des Header-Containers an. max-content = Ohne Zeilenumbruch. 100px = Pixelbreite. auto = Displaybreite*/
}

#backButton-main {
	background-color: #f0ad4e;
	color: #fff;
	padding: 20px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	width: 100px; 
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-size: 40px; 
	transition: background-color 0.3s; 
	position: relative; 
	overflow: hidden; 
}

#backButton-main:hover {
	background-color: #ec971f; 
}

#backButton-main:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f04a';
    display: block;
    width: 50px;  
    height: 50px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, font-size 0.3s; 
}

#backButton-main:hover:before {
	transform: translate(-50%, -50%) scale(1.15);
	font-size: 50px; 
}

.backButton-linktree:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f015' !important;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, font-size 0.3s;
}

.backButton-linktree:hover:before {
	transform: translate(-50%, -50%) scale(1.15);
	font-size: 50px;
}


.title-box {
	background-color: #f0ad4e;
	color: #fff;
	text-align: center;
	padding: 20px;
	border-radius: 15px;
	flex-grow: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title-box h1 {
	margin: 0 0 10px 0;
	font-size: 2.5em;
}

.title-box p {
	margin: 0;
	font-size: 1.2em;
}


.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4e8ead;
    color: white;
    font-family: 'Arial', sans-serif;
}

.welcome-container {
    display: flex;
    align-items: center;
}

.profile-picture-top {
    margin-left: 10px;
    width: 1.9em;
    height: 1.9em;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #31708f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.username-box {
    margin-left: 10px;
    background-color: #31708f;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#logoutButton {
    background-color: #f44336;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#logoutButton:hover {
    background-color: #c1352d;
}

#logoutButton i {
    margin-left: 5px;
}

.marquee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    margin: 0 30px;
    position: relative;
    height: 25px;
}

.marquee-text {
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
}

.thumbs-up {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbs-up .fas {
    font-size: 2rem;
    margin: 0 10px;
    cursor: pointer;
}

.thumbs-up .fas.fa-thumbs-up:hover {
    color: #4CAF50;
}

.thumbs-up .fas.fa-thumbs-down:hover {
    color: red;
}

.thumbs-up .fas.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.thumbs-up .fas.fa-thumbs-up {
    color: initial;
}

.thumbs-up .fas.fa-thumbs-down {
    color: initial;
}

.like-active {
    color: #4CAF50 !important;
}

.dislike-active {
    color: #f44336 !important;
}


.dark-mode-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 20px;
    background-color: #31708f;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.dark-mode-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode-toggle-label {
    margin-right: 10px;
}

.slider {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.dark-mode-toggle:checked + .slider {
    background-color: #4e8ead;
}

.dark-mode-toggle:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.cookie-consent-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2C2C2E;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

.cookie-consent-content {
    text-align: center;
}

.cookie-consent-content p {
    margin: 0 20px;
    margin-top: 10px;
    font-size: 16px;
}

#acceptCookieConsent {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#declineCookieConsent {
    background-color: #2C2C2E;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

#acceptCookieConsent i {
    margin-left: 8px;
}

.cookie-consent-container .fas.fa-cookie-bite {
    font-size: 24px;
    margin-right: 10px;
    animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .user-info {
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }

    .dark-mode-toggle-container, #logoutButton {
        flex: 0 0 50%;
        justify-content: center;
        margin: 5px 0;
    }

     .welcome-container, .marquee-container {
        flex: 0 0 90%;
        justify-content: center;
        margin: 5px 0;
    }

    .profile-picture-top {
        width: 1.5em;
        height: 1.5em;
    }
    .username-box, #logoutButton {
        font-size: 0.8em;
    }
    .marquee-text {
        font-size: 0.9em;
    }
}
