.team-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	padding: 20px;
	width: 60%;
	margin: auto;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	.team-container {
		grid-template-columns: 1fr;
		width: 80%;
	}
}

.team-member {
	background-color: #F3F3F7;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	transition: transform 0.3s ease;
}

.team-member:hover {
	transform: scale(1.05);
}

.team-member img {
	width: 30%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 10px;
	transition: transform 0.3s ease;
}

.team-member img:hover {
	transform: rotate(360deg);
}

.team-member h3, .team-member p {
	margin: 5px 0;
	color: black;
}

.team-member p.rolle {
	color: #4e8ead;
}
